<app-navbar></app-navbar>
<div class="container my-5">
    <form>
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Firstname" >Fisrt Name</label>
                    <input type="text" class="form-control" id="fisrtname" name="firstname">
                
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="lastname" >Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname">
            
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<app-footer></app-footer>
